<h3 style="color: rgb(9, 78, 55); text-align:center;  ">welcome{{user}}</h3>

<div class="container w-50 mt-2 p-3 " style="text-align:center ; background-color: rgba(67, 86, 86, 0.523); border-radius: 20px; ">
  <a style="text-decoration: none;color: rgb(23, 80, 76);" routerLink="/transaction" href=""><strong>View transation detalis</strong> </a>

</div> <div class="row">
  <div class="col-6 p-3">
    <form class="p-3" style="text-align: center; background-color: rgba(67, 86, 86, 0.523); border-radius: 20px;">
    <h4 style="color: black;">Deposit</h4>
    <div class="p-2 mt-2">
        <input [(ngModel)]="acno" id="d1" name="duser"  style="border: none;" placeholder="Account number" class="form-control" type="text">
    </div>
    <div class="p-2 mt-2">
         <input [(ngModel)]="psw" id="d2" name="dpsw" type="password"  style="border: none;" placeholder="password" class="form-control" type="text">
        </div>
    <div class="p-2 mt-2">
        <input [(ngModel)]="amount" id="d3"name="damt" style="border: none;" placeholder="Deposit Amount" class="form-control" type="text">
    </div>
  
  <button (click)="Deposit()" type="submit" class="btn btn-info mt-4 p-2">Deposite</button>
  
  </form>
  </div>


  <div class="col-6 p-3">
    <form class="p-3" style="text-align: center; background-color: rgba(67, 86, 86, 0.523); border-radius: 20px;">
    <h4  style="color: black;">Withdraw</h4>
    <div class="p-2 mt-2">
        <input id="w1" [(ngModel)]="acno1" name="wuser"  style="border: none;" placeholder="Account number" class="form-control" type="text">
    </div>
    <div class="p-2 mt-2">
         <input id="w2" [(ngModel)]="psw1" name="wpsw" type="password" style="border: none;" placeholder="password" class="form-control" type="text">
        </div>
    <div class="p-2 mt-2">
        <input id="w3" [(ngModel)]="amount1" name="wamt"  style="border: none;" placeholder="withdrawal Amount" class="form-control" type="text">
    </div>
  
  <button (click)="withdraw()" type="submit" class="btn btn-info mt-4 p-2">Withdraw</button>
  
  </form>
  </div>

</div> 
